@model YouTubeSearch.ViewModels.YouTubeRequestViewModel

@{
    ViewData["Title"] = "Pesquisa YouTube";
}

<form asp-action="Index" method="post">
    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                <label asp-for="Q" class="control-label"></label>
                <input asp-for="Q" class="form-control" placeholder="Digite sua pesquisa" />
            </div>
            <div class="form-group">
                <input type="submit" value="Pesquisar" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>
@if (Model.YouTubeResponse != null)
{
    <div class="row">
        @foreach (var item in Model.YouTubeResponse.Items)
        {
        <div class="card" style="width: 18rem; margin: 0 15px 15px 0">
            <img class="card-img-top" src="@item.MediumThumbnailUrl" alt="@item.Title" />
            <div class="card-body" style="padding: 15px">
                <h5 class="card-title">@item.Title</h5>
                <p class="card-text">@item.Description</p>
                <a href="#" class="btn btn-primary">Salvar em Playlist</a>
            </div>
            <div class="card-footer">Publicado em: @item.PublishedAt</div>
        </div>
        }
    </div>
}

